<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultSesuite" providerName="System.Data.SqlClient" connectionString="Server=lorna3.esbjmant.intranet;Database=SESUITE_TECFY_HOM;User Id=UsrAPITecfy; Password=S3rv1c0T3cfy;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <!--Connection-->
    <add key="Username" value="tecfy" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Password" value="T3cfy4513" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Url" value="https://gedsehomol.sereduc.com/softexpert/webserviceproxy/se/ws/dc_ws.php" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlAdm" value="https://gedsehomol.sereduc.com/softexpert/webserviceproxy/se/ws/adm_ws.php" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Connection-->
    <!--Repository.SaveRegisterEvent-->
    <add key="API.URL" value="https://gedapihomol.sereduc.com/Api" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Repository.SaveRegisterEvent-->
    <!--Sesuite-->
    <add key="Sesuite.Physical.Path" value="\\192.168.20.28\dadoshomol\digitalizacao" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sesuite.Folder.Physical" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sesuite.Username" value="tecfy" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Sesuite-->
  </appSettings>
  
</configuration>