<?xml version="1.0" encoding="utf-8"?>

<!-- Para obter mais informações sobre como usar a transformação do web.config, visite https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultSesuite" providerName="System.Data.SqlClient" connectionString="Server=35.192.175.82;Database=SESUITE_TECFY_HOM;User Id=sa; Password=k0t0via1.;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <!--Connection-->
    <add key="Username" value="tecfyimport" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Password" value="sesuite" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Url" value="https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/dc_ws.php" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlAdm" value="https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/adm_ws.php" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Connection-->
    <!--Repository.SaveRegisterEvent-->
    <add key="API.URL" value="http://adm.tecnodimweb.tecfy.com.br/Api" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Repository.SaveRegisterEvent-->
    <!--Sesuite-->
    <add key="Sesuite.Physical.Path" value="C:\\inetpub\\wwwroot\\Tecnodim\\Files" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sesuite.Physical.Path.SE" value="C:\\inetpub\\wwwroot\\Tecnodim\\Files\\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sesuite.Folder.Physical" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Sesuite-->
    <!--File-->
    <add key="Path" value="D:\\Web.Tecfy" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/File-->
  </appSettings>

</configuration>