<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="appConexaoBaseDocControl" value="Data Source=TECFY-TF\GOOGLECLOUDSERVE;Initial Catalog=CONTROLDOC;User ID=sa;Password=k0t0via1."/>
    <add key="appConexaoBaseStudent" value="Data Source=TECFY-TF\GOOGLECLOUDSERVE;Initial Catalog=PUC;User ID=sa;Password=k0t0via1."/>
    <add key="appEnvironProd" value="false"/>
    <!--SoftExpert.Connection.Connection-->
    <add key="Username" value="tecfyimport"/>
    <add key="Password" value="sesuite"/>
    <add key="Url" value="https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/dc_ws.php"/>
    <add key="UrlAdm" value="https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/adm_ws.php" />
    <!--/SoftExpert.Connection.Connection-->
    <!--SoftExpert-->
    <add key="Attribute_Name" value="SER_cad_NomedoAluno"/>
    <add key="Attribute_Registration" value="SER_cad_Matricula"/>
    <add key="Attribute_CPF" value="SER_cad_Cpf"/>
    <add key="Attribute_Course" value="SER_cad_Curso"/>
    <add key="Attribute_Unity" value="SER_cad_Unidade"/>
    <add key="Attribute_Unity_Code" value="SER_cad_cod_unidade"/>
    <add key="Attribute_Pages" value="SER_Paginas"/>
    <add key="Attribute_Usuario" value="SER_Operador"/>
    <add key="Category_Owner" value="000"/>
    <add key="Category_Primary" value="999"/>
    <add key="Prefix_Category" value="SER_cad"/>
    <!--/SoftExpert-->
    <!--Api-->
    <add key="API.URL" value="http://localhost:9098/Api"/>
    <add key="API.GetJobById" value="/Jobs/GetJobById?jobId={0}"/>
    <add key="API.GetJobsByRegistration" value="/Jobs/GetJobsByRegistration?registration={0}"/>
    <add key="API.SetJobCategorySave" value="/JobCategories/SetJobCategorySave"/>
    <!--/Api-->
    <!--newAccessPermission-->
    <add key="NewAccessPermission.UserType" value="4" />
    <add key="NewAccessPermission.Permission" value="6" />
    <add key="NewAccessPermission.PermissionType" value="1" />
    <add key="NewAccessPermission.FgaddLowerLevel" value="0" />
    <!--/newAccessPermission-->
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="9000" maxRequestLength=" 2097151"/>
    <compilation debug="true" targetFramework="4.7.1"/>
    <!--
      A seção <authentication> permite a configuração 
      do modo de autenticação de segurança usado por 
      ASP.NET para identificar um usuário de entrada. 
    -->
    <authentication mode="Windows"/>
    <!--
       A seção <customErrors> permite a configuração 
       do que fazer se/quando ocorrer um erro não tratado 
       durante a execução de uma solicitação. Especificamente, 
       ela permite aos desenvolvedores configurar páginas de erros html 
       para serem exibidas em vez de um rastreamento de pilha de erros.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        A seção system.webServer é necessária para executar o ASP.NET AJAX no Serviços
        de Informações da Internet 7.0.  Ela não é necessária para a versão anterior do IIS.
    -->
  <applicationSettings>
    <WebService.Properties.Settings>
      <setting name="WebService_com_softexpert_tecfy_Documento" serializeAs="String">
        <value>https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/dc_ws.php</value>
      </setting>
      <setting name="WebService_com_softexpert_tecfy_adm_Administration"
        serializeAs="String">
        <value>https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/adm_ws.php</value>
      </setting>
    </WebService.Properties.Settings>
  </applicationSettings>
</configuration>