<?xml version="1.0" encoding="utf-8"?>

<!-- Para obter mais informações sobre como usar a transformação do web.config, visite https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultSesuite" providerName="System.Data.SqlClient" connectionString="Server=192.168.0.42;Database=SESUITE_TECFY;User Id=UsrSeSuite; Password=Su13t35290!;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <!--Connection-->
    <add key="Username" value="tecfy" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Password" value="T3cfy4513" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Url" value="https://gedse.sereduc.com/softexpert/webserviceproxy/se/ws/dc_ws.php" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlAdm" value="https://gedse.sereduc.com/softexpert/webserviceproxy/se/ws/adm_ws.php" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Connection-->
    <!--Repository.SaveRegisterEvent-->
    <add key="API.URL" value="https://gedadmin.sereduc.com/Api" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Repository.SaveRegisterEvent-->
    <!--Sesuite-->
    <add key="Sesuite.Physical.Path" value="\\192.168.20.28\DADOSPROD\digitalizacao" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sesuite.Physical.Path.SE" value="/DADOSPROD/digitalizacao/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sesuite.Folder.Physical" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Sesuite-->
    <!--File-->
    <add key="Path" value="\\192.168.20.28\DADOSHOMOL\tecnodimWeb" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/File-->
    <!--Proxy-->
    <add key="Proxy" value="false" />
    <add key="ProxyUrl" value="http://192.168.15.254:3128" />
    <!--/Proxy-->
  </appSettings>

</configuration>