<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="appConexaoBaseDocControl" value="Data Source=TECFY-TF\GOOGLECLOUDSERVE;Initial Catalog=CONTROLDOC;User ID=sa;Password=k0t0via1." />
    <add key="appConexaoBaseStudent" value="Data Source=TECFY-TF\GOOGLECLOUDSERVE;Initial Catalog=PUC;User ID=sa;Password=k0t0via1."/>
    <add key="Username" value="tecfyimport"/>
    <add key="Password" value="sesuite"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpRuntime executionTimeout = "9000" maxRequestLength=" 2097151" />
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      A seção <authentication> permite a configuração 
      do modo de autenticação de segurança usado por 
      ASP.NET para identificar um usuário de entrada. 
    -->
    <authentication mode="Windows"/>
    <!--
       A seção <customErrors> permite a configuração 
       do que fazer se/quando ocorrer um erro não tratado 
       durante a execução de uma solicitação. Especificamente, 
       ela permite aos desenvolvedores configurar páginas de erros html 
       para serem exibidas em vez de um rastreamento de pilha de erros.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        A seção system.webServer é necessária para executar o ASP.NET AJAX no Serviços
        de Informações da Internet 7.0.  Ela não é necessária para a versão anterior do IIS.
    -->
  <applicationSettings>
    <WebService.Properties.Settings>
      <setting name="WebService_com_softexpert_tecfy_Documento" serializeAs="String">
        <value>https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/dc_ws.php</value>
      </setting>
    </WebService.Properties.Settings>
  </applicationSettings>
</configuration>