<?xml version="1.0" encoding="utf-8"?>

<!-- Para obter mais informações sobre como usar a transformação do web.config, visite https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultSesuite" providerName="System.Data.SqlClient" connectionString="Server=10.10.0.5;Database=SESUITE_TECFY_HOM;User Id=SESUITE_TECFY_HOM; Password=k0t0via1.;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>    
  </connectionStrings>

  <appSettings>
    <!--Connection-->
    <add key="Username" value="tecfy" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Password" value="T3cfy4513" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Url" value="https://gedsehomol.sereduc.com/softexpert/webserviceproxy/se/ws/dc_ws.php" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlAdm" value="https://gedsehomol.sereduc.com/softexpert/webserviceproxy/se/ws/adm_ws.php" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Connection-->
    <!--Repository.SaveRegisterEvent-->
    <add key="API.URL" value="http://adm.tecnodimweb.tecfy.com.br/Api" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Repository.SaveRegisterEvent-->
    <!--Sesuite-->
    <add key="Sesuite.Physical.Path" value="C:\inetpub\wwwroot\Tecnodim\Files" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sesuite.Physical.Path.SE" value="C:\inetpub\wwwroot\Tecnodim\Files\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Sesuite-->
    <!--File-->
    <add key="Path" value="C:\inetpub\wwwroot\Tecnodim" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/File-->
    <!--Proxy-->
    <add key="Proxy" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ProxyUrl" value="http://192.168.15.254:3128" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Proxy-->
  </appSettings>

</configuration>