<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultSesuite" providerName="System.Data.SqlClient" connectionString="Server=35.192.175.82;Database=SESUITE_TECFY_HOM;User Id=sa; Password=k0t0via1.;" />
  </connectionStrings>
  <appSettings>
    <!--Connection-->
    <add key="Username" value="tecfyimport"/>
    <add key="Password" value="sesuite"/>
    <add key="Url" value="https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/dc_ws.php"/>
    <add key="UrlAdm" value="https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/adm_ws.php" />
    <!--/Connection-->
    <!--SoftExpert-->
    <add key="Attribute_Name" value="SER_cad_NomedoAluno"/>
    <add key="Attribute_Registration" value="SER_cad_Matricula"/>
    <add key="Attribute_CPF" value="SER_cad_Cpf"/>
    <add key="Attribute_Course" value="SER_cad_Curso"/>
    <add key="Attribute_Unity" value="SER_cad_Unidade"/>
    <add key="Attribute_Unity_Code" value="SER_cad_cod_unidade"/>
    <add key="Attribute_Pages" value="SER_Paginas"/>
    <add key="Attribute_Usuario" value="SER_Operador"/>
    <add key="Category_Owner" value="000"/>
    <add key="Category_Primary" value="999"/>
    <add key="Category_Primary_Title" value="Digitalização - Documentos a Classificar"/>
    <add key="Prefix_Category" value="SER_cad"/>
    <add key="StructID" value="Documentos"/>
    <!--/SoftExpert-->
    <!--Api-->
    <add key="API.URL" value="http://localhost:9098/Api"/>
    <add key="API.GetJobById" value="/Jobs/GetJobById?jobId={0}"/>
    <add key="API.GetJobsByRegistration" value="/Jobs/GetJobsByRegistration?registration={0}"/>
    <add key="API.SetJobCategorySave" value="/JobCategories/SetJobCategorySave"/>
    <!--/Api-->
    <!--newAccessPermission-->
    <add key="NewAccessPermission.UserType" value="4" />
    <add key="NewAccessPermission.Permission" value="6" />
    <add key="NewAccessPermission.PermissionType" value="1" />
    <add key="NewAccessPermission.FgaddLowerLevel" value="0" />
    <!--/newAccessPermission-->
    <!--File-->
    <add key="Path" value="\\Files\\Scanning" />
    <add key="Path.Log" value="\\Files\\Log" />
    <!--/File-->
    <!--Sesuite-->
    <add key="Sesuite.Physical.Path" value="D:\\Desenv\\Tecfy\\WSTecfySE\\Files\\Sesuite" />
    <add key="Sesuite.Folder.Physical" value="true" />
    <add key="Sesuite.Username" value="tecfyimport" />
    <!--/Sesuite-->
  </appSettings>
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="9000" maxRequestLength="2147483647"/>
    <compilation debug="true" targetFramework="4.7.1"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <applicationSettings>
    <WebService.Properties.Settings>
      <setting name="WebService_com_softexpert_tecfy_Documento" serializeAs="String">
        <value>https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/dc_ws.php</value>
      </setting>
      <setting name="WebService_com_softexpert_tecfy_adm_Administration"
        serializeAs="String">
        <value>https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/adm_ws.php</value>
      </setting>
    </WebService.Properties.Settings>
  </applicationSettings>
</configuration>